{
  "name": "{{PROJECT_NAME}}",
  "version": "0.0.0",
  "description": "{{PROJECT_DESCRIPTION}}",
  "private": true,
  "scripts": {
    "b6p": "b6p"
  },
  "devDependencies": {
    "@bluestep-systems/b6p-cli": "^0.1.0"
  },
  "engines": {
    "node": ">=18.0.0"
  }
}
